<!-- Fondo del overlay -->
<div
  *ngIf="isVisible"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  (click)="close()"
>
  <!-- Contenedor del menú -->
  <div
    class="bg-white rounded-2xl shadow-lg p-6 w-80 text-center"
    (click)="$event.stopPropagation()"
  >
    <h2 class="text-lg font-semibold mb-4">Reservar Espacio</h2>


    <div class="relative max-w-sm">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/></svg>
      </div>
      <input datepicker id="default-datepicker" type="text" class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Select date">
    </div>


    <button class="w-full py-2 bg-blue-500 text-white rounded-lg mb-2 hover:bg-blue-600">
      Opción 1
    </button>
    <button class="w-full py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
      Opción 2
    </button>

    <button
      (click)="close()"
      class="mt-4 text-gray-500 hover:text-gray-700 text-sm"
    >
      Cerrar
    </button>
  </div>
</div>

